{% extends "main/base.html" %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-lg-8">
        <!-- Форма редактирования профиля -->
        <div class="card">
            <div class="card-header text-center">
                <h4>Настройка профиля</h4>
            </div>
            <div class="card-body">
                <form action="{% url "user:profile" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Изображение профиля -->
                    <div class="mb-3 text-center">
                        {% if not user.image %}
                        <img src="https://via.placeholder.com/150" class="rounded-circle mb-3" alt="Профиль" width="150" height="150">
                        {% else %}
                        <img src="{{ user.image.url }}" class="rounded-circle mb-3" alt="Профиль" width="150" height="150">
                        {% endif %}
                        <div>
                            <label for="id_image" class="form-label">Изменить фото профиля</label>
                            <input name="image" type="file" class="form-control" id="id_image">
                            {% if form.image.errors %}
                            <div>{{ form.image.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Имя пользователя -->
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Имя</label>
                        <input name="username" type="text" class="form-control" id="id_username" value="{{ form.username.value }}">
                        {% if form.username.errors %}
                        <div>{{ form.username.errors }}</div>
                        {% endif %}
                    </div>

                    {% comment %} <!-- Описание -->
                    <div class="mb-3">
                        <label for="userDescription" class="form-label">Описание</label>
                        <textarea class="form-control" id="userDescription" rows="3">Опытный разработчик с более чем 5-летним стажем в создании веб-приложений и сайтов. Специализируется на фронтенде и бэкенде.</textarea>
                    </div> {% endcomment %}

                    <!-- Email -->
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email</label>
                        <input name="email" type="email" class="form-control" id="id_email" value="{{ form.email.value }}">
                        {% if form.email.errors %}
                        <div>{{ form.email.errors }}</div>
                        {% endif %}
                    </div>

                    {% comment %} <!-- Телефон -->
                    <div class="mb-3">
                        <label for="userPhone" class="form-label">Телефон</label>
                        <input type="tel" class="form-control" id="userPhone" value="+7 (123) 456-78-90">
                    </div> {% endcomment %}

                    {% comment %} <!-- Адрес -->
                    <div class="mb-3">
                        <label for="userLocation" class="form-label">Адрес</label>
                        <input type="text" class="form-control" id="userLocation" value="Москва, Россия">
                    </div> {% endcomment %}

                    <!-- Кнопки действия -->
                    <div class="d-flex justify-content-between">
                        <button type="submit" name="action" value="save" class="btn btn-primary">Сохранить изменения</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">Удалить</button>
                    </div>
                    <!-- Модальное окно подтверждения удаления -->
                    <div style="margin-top: 30vh;"class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteAccount" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteAccount">Вы уверены что хотите удалить аккаунт?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex justify-content-between">
                            <button type="submit" name="action" value="delete" class="btn btn-danger">Да, удалить</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            </div> 
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}