  <!-- Модальное окно регистрации -->
  <div class="modal {% if not form.errors %}fade{% endif %}" id="registration" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrationModalLabel">Регистрация</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <form method="post" action="{% url 'user:registration' %}">
        {% csrf_token %}
        <div class="modal-body">
            <div class="mb-3">
              <label for="id_username" class="form-label"><strong>Имя пользователя</strong></label>
              <input name="username" type="text" class="form-control" id="id_username" placeholder="Введите имя пользователя" required
              value="{{ form.username.value }}">
              {% if form.username.errors %}
              <div>{{ form.username.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="id_email" class="form-label"><strong>Электронная почта</strong></label>
              <input name="email" type="email" class="form-control" id="id_email" placeholder="Введите электронную почту" required
              value="{{ form.email.value }}">
              {% if form.email.errors %}
              <div>{{ form.email.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="id_password1" class="form-label"><strong>Пароль</strong></label>
              <input name="password1" type="password" class="form-control" id="id_password1" placeholder="Введите пароль" required
              value="{{ form.password1.value }}">
              {% if form.password1.errors %}
              <div>{{ form.password1.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="id_password2" class="form-label"><strong>Подтвердите пароль</strong></label>
              <input name="password2" type="password" class="form-control" id="id_password2" placeholder="Подтвердите пароль" required
              value="{{ form.password2.value }}">
              {% if form.password2.errors %}
              <div>{{ form.password2.errors }}</div>
              {% endif %}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
        </form>
      </div>
    </div>
  </div>