{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/logo-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/logo-16x16.png" %}">

    <link rel="stylesheet" href="{% static "css/base.css" %}">

  </head>
  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a href={% url 'main:index' %} id="CompLogo">
            <div class="d-flex flex-row align-items-center">
              <img class="navbar-brand" src="{% static "icons/logo.png" %}">
              <div id="CompName">ExStore</div>
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}" data-bs-toggle="modal" data-bs-target="#authorization">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:registration' %}" data-bs-toggle="modal" data-bs-target="#registration">Регистрация</a>
                </li>
              {% else %}
              <!-- fix this -->

                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout' %}">Выход</a>
                </li>
                <li class="nav-item dropdown d-none d-lg-block">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#authorization">
                      <i class="fa-solid fa-user"></i></a>
                </li> {% endcomment %}
                <li class="nav-item dropdown d-none d-lg-block">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-user"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarProfile">
                      <li><a class="dropdown-item" href="#">Профиль</a></li>
                      <li><a class="dropdown-item" href="#">Корзина</a></li>
                      <li><a class="dropdown-item" href="#">Создать объявление</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'user:logout' %}">Выход</a></li>
                  </ul>
                </li>
                <li class="nav-item d-block d-lg-none">
                  <a class="nav-link" href="#">Профиль</a>
                </li>
                <li class="nav-item d-block d-lg-none">
                  <a class="nav-link" href="#">Корзина</a>
                </li>
                <li class="nav-item d-block d-lg-none">
                  <a class="nav-link" href="#">Создать объявление</a>
                </li>
                <li class="nav-item d-block d-lg-none">
                  <a class="nav-link" href="{% url 'user:logout' %}">Выход</a>
                </li>
              {% endif %}
              </ul>
          </div>
      </div>
  </nav>

  {% if not user.is_authenticated %}

  {% include "users/loginModal.html" %}

  {% include "users/registerModal.html" %}
 
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const hasErrors = {{ form.errors|yesno:"true,false" }};
      if (hasErrors) {
        var name = '{{ form_name }}'
        var myModal;
        console.log(1)
        if (name == "UserRegisterForm") {
          myModal = new bootstrap.Modal(document.getElementById('registration'), {});
          console.log(2)
        } else {
          myModal = new bootstrap.Modal(document.getElementById('authorization'), {});
          console.log(3)
        }
        myModal.show();
      }
    });
  </script>

  {% endif %}
  
  </header>
  <main>
  <div style="width: 70%; margin: 0 auto;">
  {% block content %}{% endblock content %}
  </div>
  </main>
  <footer class="py-2 bg-dark mt-4">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ExStore 2023</p>
    </div>
  </footer>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fef28696da.js" crossorigin="anonymous"></script>
  </body>
</html>